#skip_nav {
  position: relative;
  width: 100%;
  font-size: 1.3rem;
  z-index: 200;
}

#skip_nav a {
  position: absolute;
  top: -1000px;
  left: 0;
  width: 100%;
  text-align: center;
  height: 0;
  font-size: 0.8rem;
  z-index: 200;
}
#skip_nav a:focus {
  background-color: #1d60a7;
  color: #fff;
  padding: 10px 0 25px;
  top: 0;
  z-index: 100;
}
