/* 혜련 CSS시작 */
/* 헤더 전체 스타일 */
.header_top {
  position: relative;
  display: flex;
  max-width: 1440px;
  /* padding: 0.5% 10%; 헤더 탑 화면 중앙에 오게 */
  justify-content: space-between;
  border-bottom: 1px solid #ccc;
}
.header_top button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}

/*화살표 가상요소*/
.select_btn span::after {
  content: '▲';
  margin-left: 70px;
  font-size: 12px;
}
.select_btn span {
  white-space: nowrap; /*두 줄로 되는거 방지*/
}
.top_link {
  display: flex;
  position: relative;
  gap: 50px;
}
.top_link button {
  background: none;
  border: none;
  cursor: pointer;
  font-weight: bold;
}
/* 토글된 요소 보이기 */
.top_instit {
  display: none;
  position: absolute;
  top: 100%;
  padding: 1%;
  background: white;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
  transition: all 0.25s ease-in-out;
}

.top_instit ul li a {
  position: relative;
  display: inline-block;
  font-size: smaller;
}
.top_instit ul li a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  height: 3px;
  width: 0;
  background-color: orange; /* 밑줄 색상 */
  transition: width 0.3s ease;
  opacity: 0.4;
}
.top_instit ul li a:hover {
  color: rgb(19, 19, 189);
}
.top_instit ul li a:hover::after {
  /*애니메이션*/
  width: 100%;
}
#on a {
  color: rgb(19, 19, 189);
}
/* 항상 호버 효과 유지 */

#on a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 3px;
  background-color: orange;
  opacity: 0.4;
}

.sns {
  display: none;
  position: absolute;
  top: 125%;
  width: 250px;
  height: 60px;
  background: white;
  padding: 4% 5%;
  border: 1px solid #ddd;
  box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.1);
  z-index: 2;
}

.sns ul {
  display: flex;
  gap: 16px;
  font-size: 24px;
  align-items: center;
  justify-content: center;
}

/* 플랫폼별 색상 */
.sns_icon--facebook {
  color: white !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #1877f2;
  transition: all 0.5s ease;
}
.sns_icon--facebook:hover {
  background-color: white;
  border: solid #1877f2;
  color: #1877f2 !important;
}

.sns_icon--instagram {
  color: white !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #e4405f;
  transition: all 0.5s ease;
}
.sns_icon--instagram:hover {
  background-color: white;
  border: solid #e4405f;
  color: #e4405f !important;
}

.sns_icon--youtube {
  color: white !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #ff0000;
  transition: all 0.5s ease;
}
.sns_icon--youtube:hover {
  background-color: white;
  border: solid #ff0000;
  color: #ff0000 !important;
}

.sns_icon--naver {
  color: white !important;
  width: 40px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  background-color: #2db400;
  transition: all 0.5s ease;
}

.sns_icon--naver:hover {
  background-color: white;
  border: solid #2db400;
  color: #2db400 !important;
}

/* 토글 활성화 시 보이도록 설정 */
.top_instit.active,
.sns.active {
  display: block;
}
/* 혜련 CSS끝 */

/* 하연 파트 start */
.blind {
  visibility: hidden;
  overflow: hidden;
  position: absolute;
  top: 0;
  left: 0;
  width: 0;
  height: 0;
  font-size: 0;
  line-height: 0;
}

#menuAll {
  position: fixed;
  top: 0;
  left: 0;
  background-color: #fff;
  width: 100%;
  height: 0;
  visibility: hidden;
  opacity: 0;
  z-index: 1010;
  transition: all 0.35s ease;
}

/* js 클릭 이벤트 */
#menuAll.open {
  height: 100%;
  visibility: visible;
  opacity: 1;
}

/* 뒷배경 스크롤 막기 */
.scrollFixed {
  overflow: hidden;
}

.burger {
  border: none;
  outline: none;
  background-color: inherit;
  /* 윤민 css 참고 예정 */
}

.menu__toggle-close {
  margin-left: auto;
  padding-right: 15px;
}

.burger-x {
  border: none;
  outline: none;
  background-color: inherit;
  transition: transform 0.3s ease-in-out;
}

.burger-x::before {
  display: block;
  content: '\e9af';
  font-family: 'xeicon';
  font-weight: normal;
  font-size: 2rem;
}

.burger-x:hover {
  transform: rotate(180deg);
}

.burger__wrap {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 1440px;
  width: 90%;
  height: 100%;
  margin: 0 auto;
  padding-top: 1rem;
}

.burger__nav {
  display: flex;
  justify-content: space-between;
  overflow-y: auto;
  width: 100%;
}

.burger__nav .nav__gnb {
  flex: 1;
}

.burger__nav a {
  display: block;
  position: relative;
}

.nav__gnb .gnb__item > a {
  cursor: default;
  font-weight: 700;
  padding: 0.8rem 1rem;
}

.nav__gnb .gnb__item > a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: 1px;
  width: 0;
  height: 2.5px;
  background-color: #5f7193;
  transition: all 0.25s ease-in-out;
}

.nav__gnb .gnb__item > a:hover::after {
  width: 60%;
}

.nav__lnb .lnb__item > a {
  padding: 0.5rem 1rem;
  border-radius: 1.5rem;
  transition: all 0.25s ease-in-out;
}

.nav__lnb .lnb__item > a:hover {
  background-color: #e01f27;
  color: #fff;
}

.lnb-list {
  position: relative;
  margin: 0 1rem;
}

.lnb-list .list__item::before {
  position: absolute;
  content: '';
  width: 2px;
  height: 2px;
  margin-left: -0.5rem;
  display: inline-block;
  top: 50%;
  transform: translateY(-50%);
  background-color: #e01f27;
}

.lnb-list .list__item {
  color: #757575;
  padding: 0.1rem 1rem;
}

.lnb-list .list__item:hover {
  color: #e01f27;
  text-decoration-line: underline;
}
/* 하연 파트 end*/

/* 윤민 파트 */
.header-container {
  padding: 10px 20px;
  color: #333;
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.logo {
  font-size: 1.5em;
  color: #e63946;
}

.navigation {
  position: relative; /* 드롭다운 메뉴의 기준점 설정 */
}

/* 기존 네비게이션 스타일 */
.navigation ul {
  list-style: none;
  display: flex;
  margin: 0;
  padding: 0;
}

.navigation ul li {
  position: relative; /* 드롭다운 위치 설정을 위해 relative 추가 */
  padding: 50px;
}

.navigation ul li a {
  text-decoration: none;
  color: #333;
  display: block; /* 링크가 영역 전체에 걸쳐서 작동하도록 */
}

/* 드롭다운 메뉴 스타일 */
.dropdown-content {
  display: none; /* 초기 상태에서는 숨겨짐 */
  position: absolute;
  width: 100vw; /* 화면 전체 너비 사용 */
  left: 50%; /* 중앙에서 시작 */
  transform: translateX(-50%); /* 중앙 정렬 보정 */
  background-color: rgba(0, 123, 255, 0.5); /* 반투명 파란색 배경 */
  padding: 12px 0;
  z-index: 1;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
}

.dropdown-content a {
  color: black;
  padding: 12px 20px;
  text-decoration: none;
  display: inline-block; /* 항목을 인라인 블록으로 설정 */
  white-space: nowrap;
}

/* 드롭다운 메뉴 보이기 설정 */
.navigation ul li:hover .dropdown-content {
  display: flex; /* flexbox를 사용하여 항목을 가로로 정렬 */
  align-items: center; /* 세로 중앙 정렬 */
  justify-content: center; /* 가로 중앙 정렬 */
}

.menu-toggle {
  border: none;
  outline: none;
  background-color: inherit;
  cursor: pointer;
}

.menu-toggle::before {
  display: block;
  content: '\e91c';
  font-family: 'xeicon';
  font-weight: normal;
  font-size: 1.5em;
}

@media (max-width: 768px) {
  .navigation {
    display: none;
  }
}
.logo img {
  height: 50px;
}
